/* Remove navigation and video when printing */
nav {
  display: none;
}

video {
  display: none;
}

/* center titles */
h1,
h2 {
  text-align: center;
}

/* Display link after text */
main a:after {
  content: " (" attr(href) ") ";
}

.phone a:after {
  content: none;
}

.location a:after {
  content: none;
}

#images {
  text-align: center;
}

.phone {
  white-space: nowrap;
  width: auto;
}

.rating {
  text-align: center;
}

footer {
  margin-top: 20px;
  text-align: center;
  font-size: 0.8em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border: 1px solid black;
  padding: 5px;
}

td {
  border: 1px solid black;
  padding: 5px;
}
